/* 숨김 클래스 */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.titlepadding {
  height: 54px;
  padding: 12px 10px 12px 10px;
}

.titlearg {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 또는 flex-start, center 등 원하는 정렬로 */
}

.titlehr {
  position: relative;
  height: 1px;
  margin: 0 0 0 0;
}

.titlehr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.character-count-width {
  width: 300px;
}

.justifystart {
  justify-content: flex-start;
}

.paddingtop {
  padding-top: 10px;
}

.paddingbottom {
  padding-bottom: 10px;
}

#unit-convert-selectbox {
  border: 1px solid black;
}

#unit-convert-searchbox #unit-convert-selectbox {
  display: flex;
}

#unit-convert-searchbox {
  position: relative;
}

#unit-convert-searchbox #material-icons {
  left: 15px;
  position: absolute;
}

/* 스크롤바 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #989898;
}
