body {
  width: 400px;
  height: 300px;
}

/* 숨김 클래스 */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

#character-count-textarea {
  height: 400px;
  width: 700px;
}

#unit-convert-selectbox {
  border: 1px solid black;
}

#unit-convert-searchbox #unit-convert-selectbox {
  display: flex;
}

#unit-convert-searchbox {
  position: relative;
}

#unit-convert-searchbox #material-icons {
  left: 15px;
  position: absolute;
}
