/* 숨김 클래스 */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.titlepadding {
  height: 54px;
  padding: 12px 10px 12px 10px;
}

.titlearg {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 또는 flex-start, center 등 원하는 정렬로 */
}

.titlehr {
  position: relative;
  height: 1px;
  margin: 0 0 0 0;
}

.titlehr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.capital-lower-convert-copy-div {
  display: flex;
  align-items: center;
}

.copy-message-fadeinout {
  position: absolute;
  left: 50%;
  transform: translateX(-115%);
  animation: fadeInOut 2s ease-in-out forwards;
  animation-fill-mode: forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.global-width {
  width: 300px;
}

.width-full {
  width: 100%;
}

.justifystart {
  justify-content: flex-start;
}

.paddingtop {
  padding-top: 10px;
}

.paddingbottom {
  padding-bottom: 10px;
}

/** 선택박스 */
.unit-selectbox {
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border: 0.667px solid rgb(214, 217, 224);
  border-radius: 6px;
  padding: 7px 11px 7px 11px;
  box-shadow: 0 0 0 0px transparent; /* 기본값 명시 */
  transition: border 0.15s linear, box-shadow 0.15s linear;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}
.unit-selectbox:hover {
  cursor: pointer;
}

.unit-selectbox:focus {
  border: 1px solid #4258ff;
  box-shadow: 0 0 0 3px #d0d5ff;
  transition: all 0.15s linear;
}

/** 검색박스 */
.unit-searchbox {
  /** height: 75%; 이거 쓰면 스크롤도 써야함 */
  position: absolute;
  left: 5%;
  width: 90%;
  background-color: white;
  border: 1px solid rgb(100, 100, 100);
  border-radius: 6px;
  overflow-y: auto;
  z-index: 99999;
}

.mdi-icon-design {
  font-size: 30px;
  line-height: 1; /* 또는 1em, 100% 등 */
  vertical-align: middle; /* 세로 정렬 보정용 */
  color: #4258ff;
}

/** 단위변환 ul */
.unit-ul-design {
  cursor: pointer;
}

.unit-option-item {
  padding: 0.25rem 0 0.25rem 0.75rem; /* pl-1 - pl-1 pl-3 */
  border-radius: 6px;
}

li:hover {
  background-color: #d1d5db;
}

/* 메인화면 스크롤바 */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #989898;
}

/* 단위변환 스크롤바 */
/* 단위 변환 단위 선택 스크롤바 상하단에 투명처리된 화살표 추가해 영역 침범 해결 */
.custom-select-dropdown::-webkit-scrollbar-button:vertical:start:increment,
.custom-select-dropdown::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 1px;
}

.custom-select-dropdown::-webkit-scrollbar-button:vertical:end:increment,
.custom-select-dropdown::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  height: 1px;
}

.custom-select-dropdown::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.custom-select-dropdown::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 8px;
}

/** 진수 변환 */
.display-flex {
  display: flex;
}

.number-system-convert-input {
  width: 75%;
}
