.image-design {
  cursor: crosshair;
  width: auto;
  height: auto;
}

.display-setting {
  width: 80vw;
  height: 90vh;
  display: flex; /* 있어야 중앙정렬 가능 */
  justify-content: center;
  align-items: center;
}
